.container {
  text-align: center;
  margin: 10% auto;
  width: 400px;
}

h2 {
  margin-top: 30px;
  font-size: 2rem;
  font-family: "europa", sans-serif;
  font-weight: lighter;
  color: #0d0d0d;
}

.buttons {
  margin: 30px 0;
}
