.redirect-container {
  margin: auto;
  margin-top: 150px;
  width: 50%;
}

.redirect-container-title {
  margin-top: 20px;
  text-align: center;
}

.redirect-container-subtitle {
  text-align: center;
}

.redirect-flex {
  display: flex;
  justify-content: space-between;
}

.redirect-icon {
  height: 50px;
  width: 50px;
}

.redirect-title {
  margin-top: 10px;
  text-align: center;
}

.chrome {
  background: url('./assets/chrome-brands.svg') center no-repeat;
  background-size: 40px;
  margin: auto;
}

.edge {
  background: url('./assets/edge-brands.svg') center no-repeat;
  background-size: 40px;
  margin: auto;
}

.firefox {
  background: url('./assets/firefox-brands.svg') center no-repeat;
  background-size: 40px;
  margin: auto;
}

.safari {
  background: url('./assets/safari-brands.svg') center no-repeat;
  background-size: 40px;
  margin: auto;
}

.button-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 318px;
  height: 60px;
}

.add-to-slack {
  border: 2px solid #E4E4E4;
  width: 318px;
  height: 60px;
  margin-bottom: 20px;
  border-radius: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 15px rgb(241, 241, 241);
}

.add-slackr-text {
  margin-left: 10px;
}
