.title {
    margin-top: 25px;

}


.circle-graph {
    position: relative;
    width: 318px;
    height: 300px;
    background-color: white;
    padding-top:10px;
    box-shadow: 0px 0px 10px rgb(240, 240, 240);
    margin-bottom: 30px;
}

.circle {
    position: absolute;
    margin: 0 auto;
    z-index: 1;
    
}
.circle-background {
    width: 130px;
    height: 130px;
    border-radius: 100px;
    top: 7%;
    left: 7%;
    z-index: 2;
    position: absolute;
    /* box-shadow: 0px 0px 10px rgb(255,255,255);  */
    background-color: rgba(255, 255, 255, 0.5);
}

.percent-complete {
    display: flex;
    align-items: flex-start;
    z-index: 2;
    position: relative;
    margin: 0 auto;
}
.number {
    font-size: 2.1rem;
    padding-right: 5px;
    z-index: 2;
}

.text-description {
    top: 27%;
    left: 25%;
    display: flex;
    flex-direction: column;
    position: absolute;
    margin: 0 auto;
}

.description {
    margin-top: 10px;
}

.today-date{
    margin-top: 80px;
    font-size: 12px;
    color: #9C9C9C;
}

.circle-graph-contents {
    width: 150px;
    height: 150px;
    left: 28%;
    top: 8%;
    position: relative; 
}

@media (max-width: 1100px) {
    .circle-graph {
        width: 100%;
        box-shadow: none;
        outline: 1px solid #efefef;
        margin-bottom: 30px;
    }
    
    .circle-graph-contents{
        margin: 0 auto;
        left: 0%;
        top: 10%;
    }
}

@media (max-width: 800px) {

}
@media (max-width: 500px) {
    .circle-graph {
        width: 87%;
        box-shadow: none;
        outline: 1px solid #efefef;
        margin: 0px 2rem;
        margin-bottom: 30px;
    }
}