.title-box {
    display: flex;
    justify-content: flex-start;
    font-size: 30px;
    margin-top: 50px;
    margin-bottom: 50px;
    color: rgb(54, 54, 54);
    font-weight: 10px;
    align-items: center;
}

.back {
    height: 25px;
    padding-right: 20px;
    cursor: pointer;
}
.page-description {
    font-size: 12px;
    text-align: left;
    margin-top: -15px;
    color: #9C9C9C;
    line-height: 20px;
    letter-spacing: 0.5px;
    margin-bottom: 50px;
}

.poll-description {
    font-size: 14px;
    text-align: left;
    margin-top: -25px;
    color: #9C9C9C;
    line-height: 20px;
    letter-spacing: 0.5px;
    margin-bottom: 30px;
}

/* mobile view */
@media (max-width: 500px) {
  .page-title {
      align-items: left;
      font-weight: 40px;
  }
  .title-box{
      padding-top: 20px;
      font-size: 23px;
      margin-bottom: 30px;
      margin-top: 30px;
  }
}