.title-box {
    display: flex;
    justify-content: flex-start;
    font-size: 30px;
    margin-top: 50px;
    margin-bottom: 50px;
    color: rgb(54, 54, 54);
    font-weight: 10px;
}
.page-description {
    font-size: 12px;
    text-align: left;
    margin-top: -15px;
    color: #9C9C9C;
    line-height: 20px;
    letter-spacing: 0.5px;
    margin-bottom: 50px;
}