.report-results-feed-date {
	border-bottom: 1px solid lightblue;
	margin-top: 30px;
	padding-bottom: 15px;
	text-align: center;
}


.report-results-aside {
	margin: 24px 12px 0 0;
}
.report-results-container-backButton {
	margin: 24px;
}

.report-results-feed {
	margin: 0 20px;
}

@media (min-width: 800px) {
	.report-results-container {
		display: flex;
		justify-content: space-between;
		margin: auto;
	}

	.report-results-aside {
		width: 450px;
	}

}

.response-card {
	border: 1px solid rgb(226, 226, 226);
	padding: 30px;
}

.response-container {
	display: flex;
	flex-direction: column;
}

.response-container-manager {
	display: flex;
	flex-direction: column;
	border: 1px dashed rgb(206, 206, 206);
	padding: 10px;
}


.user-info {
	display: flex;
	flex-direction: row;
	align-items: center;
}
.response-container-image {
	border-radius: 50%;
	height: 60px;
	margin-left: 10px;
	margin-right: 20px;
	width: 60px;
}

.response-container-main {
	flex: 1;
	text-align: left;
	display: flex;
	flex-direction: row;
}

.response-container-main-name {
	font-size: 15px;
	font-weight: 400;
	margin-top: 17px;
	padding-left: 20px;
}

.response-container-main-name-manager {
	font-size: 15px;
	font-weight: 400;
	padding-left: 20px;
	font-style: italic;
}

.response-container-main-name-user {
	font-size: 15px;
	font-weight: 400;
	font-style: italic;
}

.response-container-profile-pic {
	height: 30px;
	width: 30px;
	border-radius: 40px;
	margin-right: 20px;
}

.response-container-main-question {
	font-size: 15px;
	font-weight: 500;
	padding-top: 0px;
	margin-bottom: 20px;
}

.response-container-main-answer {
	font-size: 15px;
	font-weight: 300;
	margin-top: 0px;
	margin-bottom: 20px;
	/* padding-left: 10px; */
}

.response-container-main-comment {
	font-size: 15px;
	font-weight: 300;
	margin-top: 20px;
	margin-bottom: 20px;
	/* padding-left: 10px; */
}

.deselected {
	color: #9B9B9B;
}

.vertical-timeline {
	width:1px;
	background-color: rgb(206, 206, 206);
	margin-right: 20px;
	margin-left: 20px;
}

.manager-response-header-text {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
	align-items: center;
}

.response-content {
	width: 90%;
	
}

em {
	color: #9B9B9B;
	font-style: italic;
	font-size: 12px;
	padding-right: 5px;
}


.report-results-filter:first-child {
	margin-top: 30px;
}

/* .completed-report {
	margin: 24px 0;
} */

.report-results-date-picker {
	height: 331px;
	margin: auto;
	width: 321px;
}

.responders {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	margin: auto;
	width: 300px;

}

.responders-user {
	border-radius: 50%;
	display: block;
	height: 40px;
	margin: 10px;
	opacity: 0.5;
	width: 40px;

}

.no-report-error {
	padding-top: 20px;
	font-style: italic;
	color: #9B9B9B;
}


.transparent {
	opacity: 1;
}

.view-comments {
	margin-top: 20px;
}

.sentiment-comment {
	padding: 10px;
	margin-top: 20px;
	border: 1px solid rgb(226, 226, 226);
	border-radius: 5px;

}


.confirm-response {
	font-size: 13px;
	border: 1px dashed rgb(226, 226, 226);
	padding: 25px;
	margin-top: -20px;
	margin-bottom: 20px;
}

.calendar-top {
	font-size: 15px;
	margin-top: 13px;
	color: #9c9c9c;

}
.calendar-bot {
	width: 40px;
	height: 20px;
	font-size: 12px;
	padding-top:5px;
	text-align: center;
	margin-bottom: 10px;
}


.calendar {
	position: relative;
    width: 318px;
    background-color: white;
    padding-top:10px;
    box-shadow: 0px 0px 10px rgb(240, 240, 240);
    margin-bottom: 30px;
}


.responders-component {
	position: relative;
	width: 318px;
	height: 150px;
    background-color: white;
	padding-top:10px;
	padding-left: 20px;
    box-shadow: 0px 0px 10px rgb(240, 240, 240);
    margin-bottom: 30px;
}

.error-message {
	font-size: 12px;
	font-style: italic;
	padding: 20px 30px 0 30px;

	color: #9C9C9C;
}

.manager-feedback {
	text-align: left;
	padding: 18px;
}

.manager-toggle-list{
	width: 25px;
	height: 25px;
}

.manager-feedback-list {
	background-color: blue;
}

.manager-feedback-for-users {
	text-align: left;
	padding: 18px;
}


.manager-question {
	text-align: left;
	font-size: 15px;
	padding-bottom: 10px;
	font-weight: 500;
}

.manager-response {
	text-align: left;
	font-size: 15px;
	padding-top: 10px;
	padding-bottom: 30px;
	padding-left: 20px;
}

.user-response-header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 30px;
	margin-top: 20px;
}

.username-profile-pic{
	font-size: 12px;
}


@media (max-width: 1100px) {
	.calendar {
		width: 60%;
		box-shadow: none;
        outline: 1px solid #efefef;
	}
	.responders-component {
		width: 35%;
		height: 382px;
		box-shadow: none;
        outline: 1px solid #efefef;
	}

	.username-profile-pic{
		margin-top: 20px;
		margin-left: 5px;
	}
}

@media (max-width: 800px) {

	.title {
		font-size: 15px;
	}

	.username-profile-pic{
		margin-top: 20px;
		margin-left: 5px;
	}
}

@media (max-width: 500px) {
	.calendar{
		width: 87%;
		box-shadow: none;
        outline: 1px solid #efefef;
	}

	.responders-component {
		width: 87%;
		box-shadow: none;
        outline: 1px solid #efefef;
	}
}

.dropbtn {
	background-color: white;
	color: black;
}

.dropbtn:hover { 
	background-color: white; 
}

.dropbtn:focus {
	background-color: white;
	outline: none;
}

.dropdown {
	position: absolute; 
	left: 120px;
	text-align: left;
}
.dropdown-selection {
	width: 50px;
	overflow-wrap: break-word;
	width: 70%;
	background-color: white;
	margin-left: 20px;
	border: none;
	border: 1px solid#efefef;
	padding: 10px;
	margin-bottom: -1px;
}

.dropdown-selection:hover {
	background-color: #efefef;
}

.dropdown-column{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-content: flex-start;
}

.filter-by-question {
	display: flex;
	flex-direction: column;
	margin-bottom: 20px;
	height: 100px;
}