.report-results-feed-date {
	border-bottom: 1px solid lightblue;
	margin-top: 30px;
	padding-bottom: 15px;
	text-align: center;
}


.report-results-aside {
	margin: 24px 12px 0 0;
}
.report-results-container-backButton {
	margin: 24px;
}

.report-results-feed {
	margin: 0 20px;
}

@media (min-width: 800px) {
	.report-results-container {
		display: flex;
		justify-content: space-between;
		margin: auto;
	}

	.report-results-aside {
		width: 450px;
	}

}

.response-card {
	border: 1px solid rgb(226, 226, 226);
	padding: 30px;
}

.response-container {
	display: flex;
	flex-direction: column;
	/* margin-top: 24px;
	padding-top: 24px; */

}

.user-info {
	display: flex;
	flex-direction: row;
}
.response-container-image {
	border-radius: 50%;
	height: 60px;
	margin-left: 10px;
	margin-right: 20px;
	width: 60px;
}

.response-container-main {
	flex: 1;
	text-align: left;
	display: flex;
	flex-direction: row;
}

.response-container-main-name {
	font-size: 15px;
	font-weight: 400;
	margin-top: 17px;
	padding-left: 20px;
}

.response-container-main-question {
	font-size: 18px;
	font-weight: 500;
	padding-top: 0px;
}

.response-container-main-answer {
	font-size: 15px;
	font-weight: 300;
	margin-top: 0px;
	/* padding-left: 10px; */
}

.deselected {
	color: #9B9B9B;
}

.vertical-timeline {
	
	width:1px;
	background-color: rgb(206, 206, 206);
	margin-right: 20px;
	margin-left: 20px;
}

.response-content {
	width: 90%;
	padding-left: 25px;
}



.report-results-filter:first-child {
	margin-top: 30px;
}

/* .completed-report {
	margin: 24px 0;
} */

.report-results-date-picker {
	height: 331px;
	margin: auto;
	width: 321px;
}

.responders {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	margin: auto;
	width: 300px;

}

.responders-user {
	border-radius: 50%;
	display: block;
	height: 40px;
	margin: 10px;
	opacity: 0.5;
	width: 40px;

}


.transparent {
	opacity: 1;
}

.view-comments {
	margin-top: 20px;
}

.sentiment-comment {
	padding: 10px;
	margin-top: 20px;
	border: 1px solid rgb(226, 226, 226);
	border-radius: 5px;

}


.confirm-response {
	font-size: 13px;
	border: 1px dashed rgb(226, 226, 226);
	padding: 25px;
	margin-top: -20px;
	margin-bottom: 20px;
}

.calendar-top {
	font-size: 15px;
	margin-top: 13px;
}
.calendar-bot {
	width: 40px;
	height: 20px;
	font-size: 12px;
	padding-top:5px;
	text-align: center;
	margin-bottom: 10px;
}


.calendar {
	position: relative;
    width: 318px;
    background-color: white;
    padding-top:10px;
    box-shadow: 0px 0px 10px rgb(240, 240, 240);
    margin-bottom: 30px;
}


.responders-component {
	position: relative;
	width: 318px;
	height: 150px;
    background-color: white;
	padding-top:10px;
	padding-left: 20px;
    box-shadow: 0px 0px 10px rgb(240, 240, 240);
    margin-bottom: 30px;
}

.error-message {
	font-size: 12px;
	font-style: italic;
	padding: 20px 30px 0 30px;

	color: #9C9C9C;
}

.manager-feedback {
	text-align: left;
	padding: 18px;
}

.manager-feedback-for-users {
	text-align: left;
	padding: 18px;
}


.manager-question {
	text-align: left;
	font-size: 14px;
	padding-bottom: 10px;
	font-weight: 500;
}

.manager-response {
	text-align: left;
	font-size: 14px;
	padding-top: 10px;
	padding-bottom: 30px;
	padding-left: 20px;
}
