.slider { 
    height: 60px;
    align-items: center;
    display: flex;
    flex-direction: row;
}

.slider-label{
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
    margin-top: -30px; 
}

.toggleComments {
   display: flex;
   flex-direction: row-reverse;
   height: 20px;
   margin: 25px;
}

.toggleComments:hover {
    cursor: pointer;
}

.question {
    display: flex;
    flex-direction: row; 
    justify-content: space-between; 
}

.poll-question {
    font-size: 15px;
	font-weight: 500;
    padding-top: 10px;
    margin-bottom: -10px;
}